// breakpoints
$desktop-l: 1452px;
$desktop-small: 1200px;
$desktop-xs: 1024px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-s: 450px;
$mobile-xs: 405px;

:root {
	--ff: 'Poppins', sans-serif;
	--transition: .2s all ease-in-out;
	--second-ff: "Inter", sans-serif;

	--c-primary: #0b8fed;
	--c-text-white: #fff;
	--c-border: #eee;
	--main-color: rgb(241, 223, 212);
	--main-second-color:rgb(239, 216, 216);
}
