html, body {
	height: 100%;
}
body {
	font-family: var(--ff);
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.container {
	max-width: 1100px;
	margin-inline: auto;
}
.main {
	padding: 0 113rem;
	@include tablet{
		padding: 0 30rem;
	}
}
html{
	@include tablet {
		font-size: 0.8px;
	}
}